- content_for :header do
  REPL

.row
  .column
    .ui.items
      %a.item.no-decoration{href: ruby_path}
        .image
          %img{src: 'http://upload.wikimedia.org/wikipedia/commons/f/f1/Ruby_logo.png', width: '100%'}
        .content
          .name.align-center.big-text Ruby

